
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin: 30px">
    <h2>This page cannot be found</h2>
    <br/>
    <h4>Sorry, this page may have moved, or no longer exists.</h4><br />
    <h4>You might want to double-check the web address.</h4>
    <br/><br /><br />
</div>


