<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://perfectplace.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>perfectplace.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>perfectplace</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$perfectplace</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:employeesdbserver.database.windows.net,1433;Initial Catalog=employeedb;Persist Security Info=False;User ID=declan;Password=Ab123456;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:employeesdbserver.database.windows.net,1433;Initial Catalog=employeedb;Persist Security Info=False;User ID=declan;Password=Ab123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PerfectPlace.Models.ApplicationDbContext, PerfectPlace" MigrationConfiguration="PerfectPlace.Migrations.Configuration, PerfectPlace" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="employeedbEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=employeesdbserver.database.windows.net;Initial Catalog=employeedb;Persist Security Info=True;User ID=declan;Password=Ab123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\employeedbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Person.csdl|res://*/Models.Person.ssdl|res://*/Models.Person.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=employeesdbserver.database.windows.net;initial catalog=employeedb;persist security info=True;user id=declan;password=Ab123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ResultEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PerfectPlace.Models.ResultEntities, PerfectPlace" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SuburbEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PerfectPlace.Models.SuburbEntities, PerfectPlace" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="employeedbEntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=employeesdbserver.database.windows.net;Initial Catalog=employeedb;Persist Security Info=True;User ID=declan;Password=Ab123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\employeedbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Person.csdl|res://*/Models.Person.ssdl|res://*/Models.Person.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=employeesdbserver.database.windows.net;initial catalog=employeedb;persist security info=True;user id=declan;password=Ab123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:employeesdbserver.database.windows.net,1433;Initial Catalog=employeedb;Persist Security Info=False;User ID=declan;Password=Ab123456;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)employeedbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)employeedbEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResultEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuburbEntities-Web.config Connection String" />
  </ItemGroup>
</Project>