@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<!--Start of Banner Area-->
<div class="banner-area bg-2 bg-overlay-2 ptb-165" style="background-image: url(/Image/about_page_banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title text-center">
                    <h1 class="text-uppercase text-white">ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->

<!--Start of About Area-->
<div class="about-area mt-130">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/Image/about_page_left.jpg" alt=""></div>
            <div class="col-md-6">
                <div class="section-title mb-38 mt-31">
                    <span class="opacity-text text-uppercase">About</span>
                    <h2 class="uppercase">KNOW ABOUT <span class="text-color">Perfect Place</span></h2>
                </div>
                <p class="23"><span class="text-dark text-uppercase">Perfect Place</span> aims to develop a convenient solution for elder people who are planning to move to new suburb after their retirement. Each of us have their own preferences and interest towards our residential area based on the lifestyle but in most of the cases we are forced to compromise due to lack of information and time.</p>
                @*<p class="34">Here is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat.</p>
                <div class="link mb-33">
                    <a href="#">Download our apps</a><span class="text pl-12">and get notifications for new property</span>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- End of About Area -->
<!--Start of Team Area-->
<div class="team-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb-55 mt-31 text-center">
                    <span class="opacity-text text-uppercase center">AWESOME TEAM</span>
                    <h2 class="uppercase mb-25">meet our TEAM</h2>
                    <p class="pb-15">The team ‘AlphAtom’ has the group of energetic people who get inspired by the growth of technology and ready to learn new every day. <br>The combination of Alpha and Atom makes us powerful and unique. <br> We are incredibly motivated and driven towards achieving our goals and serve our society with great dedication.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="agent-details.html" class="block">
                            <img src="/Image/declan.png" alt="">
                        </a>
                        <div class="link-effect">
                            
                            @*<ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
                                </li>
                            </ul>*@
                        </div>
                    </div>
                    <div class="member-text text-center bg-violet pt-14 pb-18">
                        <h3 class="mb-5"><a href="#">Guanqian Deng</a></h3>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="agent-details.html" class="block">
                            <img src="/Image/sylvia.png" alt="">
                        </a>
                        @*<div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="member-text text-center bg-violet pt-14 pb-18">
                        <h3 class="mb-5"><a href="#">Shunhua Li</a></h3>
                        <span>Business Analyst</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="agent-details.html" class="block">
                            <img src="/Image/jasper.png" alt="">
                        </a>
                        @*<div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="member-text text-center bg-violet pt-14 pb-18">
                        <h3 class="mb-5"><a href="#">Xin Shi</a></h3>
                        <span>Business Analyst</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm">
                <div class="single-team-member">
                    <div class="member-image">
                        <a href="agent-details.html" class="block">
                            <img src="/Image/dk.png" alt="">
                        </a>
                        @*<div class="link-effect">
                            <ul>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/phone.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/phone-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/facebook.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/facebook-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/twitter.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/twitter-hover.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#" class="block p-img"><img src="images/icons/g-plus.png" alt=""></a>
                                    <a href="#" class="block s-img"><img src="images/icons/g-plus-hover.png" alt=""></a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                    <div class="member-text text-center bg-violet pt-14 pb-18">
                        <h3 class="mb-5"><a href="#">Bharath Kumar Devakumar</a></h3>
                        <span>Data Analyst</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Team Area-->
<br /><br /><br /><br /><br />