@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<!--Start of Banner Area-->
<div class="banner-area bg-2 bg-overlay-2 ptb-165" style="background-image: url(/Image/about_page_banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title text-center">
                    <h1 class="text-uppercase text-white">ABOUT US</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Banner Area-->

<!--Start of About Area-->
<div class="about-area mt-130" style="margin-bottom: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="/Image/about_page_left.jpg" alt=""></div>
            <div class="col-md-6">
                <div class="section-title mb-38 mt-31">
                    <span class="opacity-text text-uppercase">About</span>
                    <h2 class="uppercase">KNOW ABOUT <span class="text-color">Perfect Place</span></h2>
                </div>
                <p class="23"><span class="text-dark text-uppercase">Perfect Place</span> aims to develop a convenient solution for elder people who are planning to move to new suburb after their retirement. Each of us have their own preferences and interest towards our residential area based on the lifestyle but in most of the cases we are forced to compromise due to lack of information and time.</p>
                @*<p class="34">Here is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud exercitation oris nisi ut aliquip ex ea commodo equat.</p>
                <div class="link mb-33">
                    <a href="#">Download our apps</a><span class="text pl-12">and get notifications for new property</span>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- End of About Area -->

<br /><br /><br /><br /><br />