@model PerfectPlace.Models.rating_it2
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };

    window.onload = function () {
        setIframeHeight(document.getElementById('myIframe'));
    };
</script>

@*<iframe scrolling="no" src="@Url.Action("Test1", Model)" onload="javascript: resizeIframe(this);"></iframe>*@
<iframe id="myIframe" scrolling="no" src="@Url.Action("Test1", Model)" onload="setIframeHeight(this)" frameborder="0"></iframe>
<a href="javascript:void(0);" onclick="history.go(-1);" class="button search_price lemon mb-21">Back to List</a>
<div style="margin-bottom: 50px"></div>
