@model PerfectPlace.Models.rating_it2
@{
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Scripts/infographic/prototype.js"></script>
    <script type="text/javascript" src="/Scripts/infographic/effects.js"></script>
    <script type="text/javascript" src="/Scripts/infographic/side-bar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/Scripts/infographic/prototype.js"></script>
    <script type="text/javascript" src="/Scripts/infographic/effects.js"></script>
    <script type="text/javascript" src="/Scripts/infographic/side-bar.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <!-- <script type="text/javascript">
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script> -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <style>
        /****************************************/



        #sideBar {
            text-align: left;
        }

        #sideBar {
            color: #FFFFFF;
            font-size: 14px;
            font-family: arial;
            margin: 2px 10px 10px 0px;
            padding-left: 10px;
            opecity: 0.3;
        }

        #sideBar h2 {
            font-size: 14px;
            font-family: arial;
            margin: 5px 5px 5px 5px;
            font-weight: bold !important;
        }

        #sideBar h2 span {
            font-size: 12px;
            font-weight: normal !important;
        }


        #sideBar {
            position: absolute;
            width: auto;
            height: auto;
            top: 240px;
            left: 0px;
            font-family: Ubuntu, sans-serif;
            font-size: 0.875em;
            background: #333;
            background: -webkit-gradient( linear, left top, left bottom, from( rgba( 0, 0, 0, .6 ) ), to( rgba( 0, 0, 0, .8 ) ) );
            background: -webkit-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
            background: -moz-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
            background: -ms-radial-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
            background: -o-linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
            background: linear-gradient( top, rgba( 0, 0, 0, .6 ), rgba( 0, 0, 0, .8 ) );
            background-position: top right;
            background-repeat: repeat-y;
            opecity: 0.3;
        }

        #sideBarTab {
            float: right;
            height: 137px;
            width: 28px;
        }

        #sideBarTab img {
            border: 0px solid #FFFFFF;
        }

        #sideBarContents {
            float: right;
            overflow: hidden !important;
            width: 400px;
            height: auto;
            padding-bottom: 5px;
        }

        #sideBarContentsInner {
            width: 400px;
        }
    </style>


</head>

<body>
    <iframe src="@Url.Action("Test2", Model)" frameborder="0" scrolling="no" width="100%" height="1120px"></iframe>
@*<div id="sideBar">

    <a href="#" id="sideBarTab"><img src="/Image/infographic/slide-button.gif" alt="sideBar" title="sideBar" /></a>

    <div id="sideBarContents" style="display:none;">
        <div id="sideBarContentsInner">

            <form action="compair.html">
                <table id="example" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>no&nbsp;&nbsp;&nbsp;</th>
                        <th>suburb</th>
                        <th>criminal Rate</th>
                        <th>Accident Rate</th>
                        <th>Health Care</th>
                        <th>To CBT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox" name="suburb" value="1">&nbsp;1</td>
                        <td>camegi  </td>
                        <td>Low</td>
                        <td>High</td>
                        <td>Moderate</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="suburb" value="1"> 2</td>
                        <td>camegi  </td>
                        <td>Low</td>
                        <td>High</td>
                        <td>Moderate</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="suburb" value="1"> 3</td>
                        <td>camegi  </td>
                        <td>Low</td>
                        <td>High</td>
                        <td>Moderate</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="suburb" value="1"> 4</td>
                        <td>camegi  </td>
                        <td>Low</td>
                        <td>High</td>
                        <td>Moderate</td>
                        <td>15</td>
                    </tr>

                    </tbody>
                    <ul class="pagination pagination-sm">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </table>

                <input class="btn btn-primary" type="submit" value="Submit">
            </form>


        </div>
    </div>

</div>*@
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Learn How you use this Infographics</h4>
            </div>
            <div class="modal-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PauPbLGRlFs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>